@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
html, body {
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}
header {
    background-color: black;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
header > h1 {
    padding-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-variant: small-caps;
    font-size: 3em;
    padding: 50px;
    text-shadow: 2px 2px 0px rgba(255, 0, 0, 0.699);
}
header > p{
    padding-bottom: 50px;
}
header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover footer a:hover {
    text-decoration: underline;
 } 
section {
    padding: 30px;
    line-height: 2em;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 2.5vw;
}
section > p {
    padding-bottom: 1em;

}
section.normal {
    background-color: white;
    color: rgb(0, 0, 0);
    padding-top: 7vh;
    padding-bottom: 7vh;
    padding: 7vh;
    
}
section.imagem {
    background-color: rgba(0, 0, 0, 0.89);
    background-attachment: fixed;
    color: white;
    box-shadow: inset 4px 4px 14px 0px black;
    padding-top: 4vh;
    padding-bottom: 4vh;
    font-size: 2vw;
}
section.imagem > p {
    background-color: rgba(0, 0, 0, 0.473);
    display: inline-block;
    padding: 6vh;
    text-shadow: 1px 1px 0px black;
}
section#img01 {
    background-image: url("imagens/gripen-wallpaper.jpg");
    background-position: right right;
    background-size: contain;
    background-repeat: no-repeat;
  
}
section#img02 {
    background-image: url("imagens/sukhoi-su-35s.jpg");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    font-variant: small-caps;
    
}
section#img03 {

}
section#img04 {

}
section#img05 {

}
section#img06 {

}
section#img07 {
    background-image: url("imagens/su57-4k.jpg");
    background-position: right right;
    background-size: cover;
    background-repeat: no-repeat;



}
section#img08 {

}
footer {
    background-color: rgb(11, 22, 182);
    color: white;
    text-align: center;
    padding: 10px;
}